<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/{{ config.theme }}">

    <title>Under construction.</title>
</head>
<body>
    {% include 'includes/navigation.html' %}
    {% include 'includes/newpost.html' %}

    <hr>
    <h1>Displaying posts for: {{ current[1] }}</h1>
    <hr>
</body>
</html>